In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
#from plotly.subplots import make_subplots
#from datetime import datetime

In [2]:
covid_df=pd.read_csv("D:\covid_19_india.csv")
covid_df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
18105,18106,2021-08-11,8:00 AM,Telangana,-,-,638410,3831,650353
18106,18107,2021-08-11,8:00 AM,Tripura,-,-,77811,773,80660
18107,18108,2021-08-11,8:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,18109,2021-08-11,8:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999

In [3]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [4]:
covid_df.describe()

                Sno         Cured         Deaths     Confirmed
count  18110.000000  1.811000e+04   18110.000000  1.811000e+04
mean    9055.500000  2.786375e+05    4052.402264  3.010314e+05
std     5228.051023  6.148909e+05   10919.076411  6.561489e+05
min        1.000000  0.000000e+00       0.000000  0.000000e+00
25%     4528.250000  3.360250e+03      32.000000  4.376750e+03
50%     9055.500000  3.336400e+04     588.000000  3.977350e+04
75%    13582.750000  2.788698e+05    3643.750000  3.001498e+05
max    18110.000000  6.159676e+06  134201.000000  6.363442e+06

In [5]:
vaccine_df=pd.read_csv("D:\covid_vaccine_statewise.csv")
vaccine_df

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/8/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/8/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
vaccine_df.head(10)

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
5,21/01/2021,India,365965.0,32226.0,12600.0,365965.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,132784.0,233143.0,38.0,365965.0
6,22/01/2021,India,549381.0,36988.0,14115.0,549381.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,193899.0,355402.0,80.0,549381.0
7,23/01/2021,India,759008.0,43076.0,15605.0,759008.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,267856.0,491049.0,103.0,759008.0
8,24/01/2021,India,835058.0,49851.0,18111.0,835058.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,296283.0,538647.0,128.0,835058.0
9,25/01/2021,India,1277104.0,55151.0,19682.0,1277104.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,444137.0,832766.0,201.0,1277104.0

In [7]:
covid_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [8]:
covid_df.drop(["Sno","Time","ConfirmedIndianNational",  "ConfirmedForeignNational"],inplace=True,axis=1)

In [9]:
covid_df.head()

         Date State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30               Kerala      0       0          1
1  2020-01-31               Kerala      0       0          1
2  2020-02-01               Kerala      0       0          2
3  2020-02-02               Kerala      0       0          3
4  2020-02-03               Kerala      0       0          3

In [10]:
covid_df['Date']=pd.to_datetime(covid_df['Date'],format='%Y-%m-%d')

In [11]:
covid_df.head()

        Date State/UnionTerritory  Cured  Deaths  Confirmed
0 2020-01-30               Kerala      0       0          1
1 2020-01-31               Kerala      0       0          1
2 2020-02-01               Kerala      0       0          2
3 2020-02-02               Kerala      0       0          3
4 2020-02-03               Kerala      0       0          3

In [12]:
#Active Cases
covid_df['Active Cases'] = covid_df['Confirmed'] - (covid_df['Cured'] + covid_df['Deaths'])

In [13]:
covid_df.tail()

,Date,State/UnionTerritory,Cured,Deaths,Confirmed,Active Cases
18105,2021-08-11,Telangana,638410,3831,650353,8112
18106,2021-08-11,Tripura,77811,773,80660,2076
18107,2021-08-11,Uttarakhand,334650,7368,342462,444
18108,2021-08-11,Uttar Pradesh,1685492,22775,1708812,545
18109,2021-08-11,West Bengal,1506532,18252,1534999,10215

In [14]:
#Non Active Cases
covid_df['Non Active Case']=covid_df['Cured']+covid_df['Deaths']

In [15]:
covid_df.tail()

,Date,State/UnionTerritory,Cured,Deaths,Confirmed,Active Cases,Non Active Case
18105,2021-08-11,Telangana,638410,3831,650353,8112,642241
18106,2021-08-11,Tripura,77811,773,80660,2076,78584
18107,2021-08-11,Uttarakhand,334650,7368,342462,444,342018
18108,2021-08-11,Uttar Pradesh,1685492,22775,1708812,545,1708267
18109,2021-08-11,West Bengal,1506532,18252,1534999,10215,1524784

In [16]:
statewise=pd.pivot_table(covid_df, values=["Confirmed","Deaths","Cured"],index="State/UnionTerritory",aggfunc=max)

In [17]:
statewise

                                          Confirmed    Cured  Deaths
State/UnionTerritory
Andaman and Nicobar Islands                    7548     7412     129
Andhra Pradesh                              1985182  1952736   13564
Arunachal Pradesh                             50605    47821     248
Assam                                        576149   559684    5420
Bihar                                        725279   715352    9646
Bihar****                                    715730   701234    9452
Cases being reassigned to states               9265        0       0
Chandigarh                                    61992    61150     811
Chhattisgarh                                1003356   988189   13544
Dadra and Nagar Haveli                        10377    10261       4
Dadra and Nagar Haveli and Daman and Diu      10654    10646       4
Daman & Diu                                       2        0       0
Delhi                                       1436852  1411280   25068
Goa                                          172085   167978    3164
Gujarat                                      825085   814802   10077
Haryana                                      770114   759790    9652
Himachal Pradesh                             208616   202761    3537
Himanchal Pradesh                            204516   200040    3507
Jammu and Kashmir                            322771   317081    4392
Jharkhand                                    347440   342102    5130
Karanataka                                  2885238  2821491   36197
Karnataka                                   2921049  2861499   36848
Kerala                                      3586693  3396184   18004
Ladakh                                        20411    20130     207
Lakshadweep                                   10263    10165      51
Madhya Pradesh                               791980   781330   10514
Madhya Pradesh***                            791656   780735   10506
Maharashtra                                 6363442  6159676  134201
Maharashtra***                              6229596  6000911  130753
Manipur                                      105424    96776    1664
Meghalaya                                     69769    64157    1185
Mizoram                                       46320    33722     171
Nagaland                                      28811    26852     585
Odisha                                       988997   972710    6565
Puducherry                                   121766   119115    1800
Punjab                                       599573   582791   16322
Rajasthan                                    953851   944700    8954
Sikkim                                        28018    25095     356
Tamil Nadu                                  2579130  2524400   34367
Telangana                                    650353   638410    3831
Telengana                                    443360   362160    2312
Tripura                                       80660    77811     773
Unassigned                                       77        0       0
Uttar Pradesh                               1708812  1685492   22775
Uttarakhand                                  342462   334650    7368
West Bengal                                 1534999  1506532   18252

In [18]:
statewise["Recovery Rate"]=statewise["Cured"]*100/statewise["Confirmed"]

In [19]:
statewise["Mortality Rate"]=statewise["Deaths"]*100/statewise["Confirmed"]

In [20]:
statewise=statewise.sort_values(by="Confirmed",ascending=False)

In [21]:
statewise.style.background_gradient(cmap="cubehelix")

In [22]:
covi

NameError: name 'covi' is not defined

In [ ]:
covid_df.head()

In [ ]:
#Active Cases
covid_df['Active Cases'] = covid_df['Confirmed'] - (covid_df['Cured'] + covid_df['Deaths'])

In [ ]:
covid_df.head()

In [ ]:
covid_df.drop(["Sno","ConfirmedIndianNational", "ConfirmedForeignNational"],inplace=True,axis=1)

In [ ]:
covid_df

In [ ]:
covid_df.head()

In [ ]:
#Top 10 active cases states
Top_10_active_case=covid_df.groupby(by='State/UnionTerritory').max().sort_values(by=['Active Cases'],ascending=False)

In [ ]:
Top_10_active_case.head(10)

In [ ]:
fig=plt.figure(figsize=(16,9))

In [ ]:
plt.title("Top 10 states with most active cases", size=25)

In [ ]:
ax=sns.barplot(data =Top_10_active_case.iloc[:10], y="Active Cases", x="State/UnionTerritory", linewidth=2, edgecolor='red')